{% extends 'main/base.html' %}
{% load static %}


{% block title %}
Востребованность
{% endblock %}

{% block content %}
    <div class="section__demand">
        <h1 class="section_title">Востребованность</h1>
        <div class="data_class flex">
            <img class="images" src="{% static 'main/img/demend1.png' %}">
            <img class="images" src="{% static 'main/img/demend2.png' %}">
        </div>
    </div>
{% endblock %}

{% block downside %}
    <div class="table flex">
        <table border="1" class="table_for_demand">
      <thead>
        <tr style="text-align: center;">
          <th></th>
          <th>Средняя зарплата</th>
        </tr>
        <tr>
          <th>Год</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>2005</th>
          <td>93601</td>
        </tr>
        <tr>
          <th>2006</th>
          <td>93582</td>
        </tr>
        <tr>
          <th>2007</th>
          <td>102279</td>
        </tr>
        <tr>
          <th>2008</th>
          <td>81834</td>
        </tr>
        <tr>
          <th>2009</th>
          <td>53351</td>
        </tr>
        <tr>
          <th>2010</th>
          <td>49933</td>
        </tr>
        <tr>
          <th>2011</th>
          <td>53387</td>
        </tr>
        <tr>
          <th>2012</th>
          <td>52049</td>
        </tr>
        <tr>
          <th>2013</th>
          <td>56452</td>
        </tr>
        <tr>
          <th>2014</th>
          <td>51993</td>
        </tr>
        <tr>
          <th>2015</th>
          <td>52695</td>
        </tr>
        <tr>
          <th>2016</th>
          <td>62735</td>
        </tr>
        <tr>
          <th>2017</th>
          <td>61908</td>
        </tr>
        <tr>
          <th>2018</th>
          <td>67679</td>
        </tr>
        <tr>
          <th>2019</th>
          <td>71828</td>
        </tr>
        <tr>
          <th>2020</th>
          <td>72595</td>
        </tr>
        <tr>
          <th>2021</th>
          <td>84102</td>
        </tr>
        <tr>
          <th>2022</th>
          <td>97903</td>
        </tr>
      </tbody>
    </table>

        <table border="1" class="table_for_demand">
      <thead>
        <tr style="text-align: center;">
          <th></th>
          <th>Количество вакансий</th>
        </tr>
        <tr>
          <th>Год</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>2005</th>
          <td>1836</td>
        </tr>
        <tr>
          <th>2006</th>
          <td>16229</td>
        </tr>
        <tr>
          <th>2007</th>
          <td>24000</td>
        </tr>
        <tr>
          <th>2008</th>
          <td>30627</td>
        </tr>
        <tr>
          <th>2009</th>
          <td>20989</td>
        </tr>
        <tr>
          <th>2010</th>
          <td>31930</td>
        </tr>
        <tr>
          <th>2011</th>
          <td>42282</td>
        </tr>
        <tr>
          <th>2012</th>
          <td>49309</td>
        </tr>
        <tr>
          <th>2013</th>
          <td>68149</td>
        </tr>
        <tr>
          <th>2014</th>
          <td>75828</td>
        </tr>
        <tr>
          <th>2015</th>
          <td>78934</td>
        </tr>
        <tr>
          <th>2016</th>
          <td>85740</td>
        </tr>
        <tr>
          <th>2017</th>
          <td>95811</td>
        </tr>
        <tr>
          <th>2018</th>
          <td>149308</td>
        </tr>
        <tr>
          <th>2019</th>
          <td>130763</td>
        </tr>
        <tr>
          <th>2020</th>
          <td>115116</td>
        </tr>
        <tr>
          <th>2021</th>
          <td>65205</td>
        </tr>
        <tr>
          <th>2022</th>
          <td>20685</td>
        </tr>
      </tbody>
    </table>

            <table border="1" class="table_for_demand">
      <thead>
        <tr style="text-align: center;">
          <th></th>
          <th>Средняя зарплата - Frontend-программист</th>
        </tr>
        <tr>
          <th>Год</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>2005</th>
          <td>35890</td>
        </tr>
        <tr>
          <th>2006</th>
          <td>49676</td>
        </tr>
        <tr>
          <th>2007</th>
          <td>58541</td>
        </tr>
        <tr>
          <th>2008</th>
          <td>46542</td>
        </tr>
        <tr>
          <th>2009</th>
          <td>33179</td>
        </tr>
        <tr>
          <th>2010</th>
          <td>33884</td>
        </tr>
        <tr>
          <th>2011</th>
          <td>53200</td>
        </tr>
        <tr>
          <th>2012</th>
          <td>39186</td>
        </tr>
        <tr>
          <th>2013</th>
          <td>37636</td>
        </tr>
        <tr>
          <th>2014</th>
          <td>51182</td>
        </tr>
        <tr>
          <th>2015</th>
          <td>53634</td>
        </tr>
        <tr>
          <th>2016</th>
          <td>57978</td>
        </tr>
        <tr>
          <th>2017</th>
          <td>76055</td>
        </tr>
        <tr>
          <th>2018</th>
          <td>87518</td>
        </tr>
        <tr>
          <th>2019</th>
          <td>105751</td>
        </tr>
        <tr>
          <th>2020</th>
          <td>104500</td>
        </tr>
        <tr>
          <th>2021</th>
          <td>136110</td>
        </tr>
        <tr>
          <th>2022</th>
          <td>151770</td>
        </tr>
      </tbody>
    </table>

            <table border="1" class="table_for_demand">
      <thead>
        <tr style="text-align: center;">
          <th></th>
          <th>Количество вакансий - Frontend-программист</th>
        </tr>
        <tr>
          <th>Год</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>2005</th>
          <td>12</td>
        </tr>
        <tr>
          <th>2006</th>
          <td>183</td>
        </tr>
        <tr>
          <th>2007</th>
          <td>441</td>
        </tr>
        <tr>
          <th>2008</th>
          <td>523</td>
        </tr>
        <tr>
          <th>2009</th>
          <td>411</td>
        </tr>
        <tr>
          <th>2010</th>
          <td>620</td>
        </tr>
        <tr>
          <th>2011</th>
          <td>1568</td>
        </tr>
        <tr>
          <th>2012</th>
          <td>1406</td>
        </tr>
        <tr>
          <th>2013</th>
          <td>2233</td>
        </tr>
        <tr>
          <th>2014</th>
          <td>1885</td>
        </tr>
        <tr>
          <th>2015</th>
          <td>2324</td>
        </tr>
        <tr>
          <th>2016</th>
          <td>3934</td>
        </tr>
        <tr>
          <th>2017</th>
          <td>4752</td>
        </tr>
        <tr>
          <th>2018</th>
          <td>6649</td>
        </tr>
        <tr>
          <th>2019</th>
          <td>6500</td>
        </tr>
        <tr>
          <th>2020</th>
          <td>5651</td>
        </tr>
        <tr>
          <th>2021</th>
          <td>3613</td>
        </tr>
        <tr>
          <th>2022</th>
          <td>1098</td>
        </tr>
      </tbody>
    </table>

    </div>
{% endblock %}
