{% extends 'main/base.html' %}
{% load static %}

{% block title %}
География
{% endblock %}

{% block content %}
    <div class="section__demand">
        <h1 class="section_title">География</h1>
        <div class="data_class flex">
            <img class="images" src="{% static 'main/img/geography.png' %}">

            <table border="1" class="table_for_geo1">
      <thead>
        <tr style="text-align: center;">
          <th></th>
          <th>Уровень зарплат</th>
        </tr>
        <tr>
          <th>Город</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Киев</th>
          <td>97945</td>
        </tr>
        <tr>
          <th>Москва</th>
          <td>85539</td>
        </tr>
        <tr>
          <th>Санкт-Петербург</th>
          <td>72900</td>
        </tr>
        <tr>
          <th>Минск</th>
          <td>70041</td>
        </tr>
        <tr>
          <th>Новосибирск</th>
          <td>69034</td>
        </tr>
        <tr>
          <th>Екатеринбург</th>
          <td>66848</td>
        </tr>
        <tr>
          <th>Казань</th>
          <td>55723</td>
        </tr>
        <tr>
          <th>Самара</th>
          <td>54699</td>
        </tr>
        <tr>
          <th>Нижний Новгород</th>
          <td>53138</td>
        </tr>
        <tr>
          <th>Краснодар</th>
          <td>53014</td>
        </tr>
        <tr>
          <th>Пермь</th>
          <td>49502</td>
        </tr>
        <tr>
          <th>Уфа</th>
          <td>49232</td>
        </tr>
        <tr>
          <th>Красноярск</th>
          <td>48048</td>
        </tr>
        <tr>
          <th>Воронеж</th>
          <td>46735</td>
        </tr>
        <tr>
          <th>Ростов-на-Дону</th>
          <td>46400</td>
        </tr>
        <tr>
          <th>Алматы</th>
          <td>36968</td>
        </tr>
      </tbody>
    </table>

        </div>
    </div>

        <table border="1" class="table_for_geo2">
      <thead>
        <tr style="text-align: center;">
          <th></th>
          <th>Доля вакансий</th>
        </tr>
        <tr>
          <th>Город</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Москва</th>
          <td>0.3137</td>
        </tr>
        <tr>
          <th>Санкт-Петербург</th>
          <td>0.1106</td>
        </tr>
        <tr>
          <th>Новосибирск</th>
          <td>0.0241</td>
        </tr>
        <tr>
          <th>Минск</th>
          <td>0.0219</td>
        </tr>
        <tr>
          <th>Казань</th>
          <td>0.0211</td>
        </tr>
        <tr>
          <th>Нижний Новгород</th>
          <td>0.0210</td>
        </tr>
        <tr>
          <th>Алматы</th>
          <td>0.0190</td>
        </tr>
        <tr>
          <th>Ростов-на-Дону</th>
          <td>0.0182</td>
        </tr>
        <tr>
          <th>Екатеринбург</th>
          <td>0.0182</td>
        </tr>
        <tr>
          <th>Краснодар</th>
          <td>0.0159</td>
        </tr>
        <tr>
          <th>Киев</th>
          <td>0.0136</td>
        </tr>
        <tr>
          <th>Самара</th>
          <td>0.0126</td>
        </tr>
        <tr>
          <th>Воронеж</th>
          <td>0.0124</td>
        </tr>
        <tr>
          <th>Красноярск</th>
          <td>0.0109</td>
        </tr>
        <tr>
          <th>Пермь</th>
          <td>0.0108</td>
        </tr>
        <tr>
          <th>Уфа</th>
          <td>0.0102</td>
        </tr>
      </tbody>
    </table>

{% endblock %}


{% block downside %}
    <div class="table1">
        <br><br><br><br><br><br><br><br><br>
    </div>
{% endblock %}
