{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Главная
{% endblock %}

{% block content %}
    <main>
        <div class="container">
            <div class="main_class flex">
                <div class="info flex">
                    <p class="paragraph-info1">Frontend-разработчик (frontend developer) — специалист,
                        отвечающий за создание пользовательского интерфейса сайта, приложения или ПО,
                        превращающий макет веб-дизайнера в функциональный и удобный пользовательский интерфейс.</p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block downside %}
        <div class="container flex">
        <div class="">
            <h2 class="ul_title">Чем занимается фронтенд-разработчик</h2>
            <div class="main_info flex">
                <p class="paragraph-info">Фронтенд работает в&nbsp;команде с&nbsp;бэкенд-разработчиком и&nbsp;дизайнером. Бэкендер разрабатывает техническую начинку сайта или приложения: внутреннюю архитектуру,
                    то, как система собирает, обрабатывает и&nbsp;хранит данные. Дизайнер создает макет сайта: выбирает цвета, шрифты, иконки, расположение элементов на&nbsp;экранах.
                    Задача фронтенд-разработчика воплотить техническое содержание сайта в&nbsp;визуальной форме, которую предлагает дизайнер.</p>
            </div>
            <br>
            <h2 class="ul_title">Откуда приходят в профессию</h2>
            <p class="paragraph-info">Фронтенд-разработчик&nbsp;&mdash; это профессия со&nbsp;средним порогом входа, которую при желании можно освоить с&nbsp;нуля. Ближайшая к&nbsp;ней более простая специализация&nbsp;&mdash; верстальщик в&nbsp;вебе. Верстальщик занимается только HTML и&nbsp;CSS версткой сайтов или приложений, не&nbsp;отвечает за&nbsp;интерактивность и&nbsp;никак не&nbsp;связан с&nbsp;бэкендом.</p>

        </div>
        <img class="img_for_main" src="{% static 'main/img/computer.png' %}">
    </div>
    <div class="container">
        <div class="flex">
            <img class="img_for_main1" src="{% static 'main/img/pngwing.com (6).png' %}">
            <div class="main_info">
                <p class="tasks"><br>Основные задачи:</p>
                <ul class="skills_list list-reset">
                    <li class="task">верстка приложения с помощью HTML/CSS;</li>
                    <li class="task">разработка логики компонента или приложения;</li>
                    <li class="task">продумывание архитектуры приложения;</li>
                    <li class="task">поиск и оценка решений;</li>
                    <li class="task">чтение документации (в том числе на английском);</li>
                    <li class="task">рефакторинг и оптимизация текущего функционала;</li>
                    <li class="task">настройка и оптимизация сборки проекта;</li>
                    <li class="task">верстка email.</li>
                </ul>
            </div>

        </div>
            <br><p class="paragraph-info">С&nbsp;этой базы можно начать брать небольшие заказы на&nbsp;верстку и&nbsp;параллельно осваивать JavaScript и&nbsp;основные JS-фреймворки, чтобы повышать квалификацию до&nbsp;фронтенд-разработчика. В&nbsp;перспективе фронтенд-разработчик может расти по&nbsp;грейдам от&nbsp;джуниора до&nbsp;сеньора, а&nbsp;затем становиться тимлидом или развиваться горизонтально.</p>
            <br>
            <p class="tasks"><br>Важные качества:</p>
                <ul class="skills_list list-reset">
                    <li class="task">аналитический ум;</li>
                    <li class="task">ответственность;</li>
                    <li class="task">внимание к мелочам;</li>
                    <li class="task">творческие способности;</li>
                    <li class="task">пунктуальность;</li>
                    <li class="task">умение работать в команде;</li>
                    <li class="task">объективная самооценка — умение соизмерять уровень своих навыков и умений с возможностью решить поставленные задачи;</li>
                    <li class="task">нацеленность на результат;</li>
                    <li class="task">постоянное желание осваивать новые технологии и инструменты.</li>
                </ul>
            <br>

        <p class="tasks"><br>Ступеньки карьеры и перспективы:</p>
            <p class="paragraph-info">Frontend-разработчик может стать непревзойденным и&nbsp;высокооплачиваемым гуру создания пользовательской части продукта или попробовать себя в&nbsp;смежных ролях:</p>
            <br><ul class="skills_list list-reset">
                <li class="task">бэк-энд разработчика;</li>
                <li class="task">дизайнера;</li>
                <li class="task">фулл-стек разработчика, совмещая обязанности фронт-энд и бэк-энд девелопера.  </li>
            </ul>
        <p class="paragraph-info1">Дальнейшая карьера может складываться по-разному, в&nbsp;зависимости от&nbsp;места работы, личных предпочтений. В&nbsp;любом случае в&nbsp;IT-сфере полезно развиваться в&nbsp;горизонтальном направлении, осваивая смежные профессии, чтобы стать настоящим мастером-асом.</p>
    </div>

{% endblock %}